.home {
    margin : 0px ;
    padding: 0px ; 
    background-image: url('../assets/Holding_Hand.jpg'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 50vh; 
    width: 100%;
}

.left-content {
  font-family: "Italianno", cursive;
  font-size: 50px;
  margin-left: -20px; 
  text-align: left auto; 
}
  


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white; 
  color: black;
  text-align: center;
  padding: 10px;
}
