* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: hsl(348, 50%, 29%);
  font-family: sans-serif;
  width: 100vw;
  position: fixed;
  padding-top: 20px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 60px; 
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 10px; 
}

.logo {
  font-family: "Italianno", cursive;
  font-size: 35px; 
  font-weight: 600;
  padding-bottom: 2px; 
  color: white;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  padding-bottom: 4px; 
  color: white;
  font-size: 18px; 
  font-weight: bold;
  margin: 0 8px; 
}
